---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import teamData from "./Data/team.json";
import Collapse from "./Collapse.astro";
---

<Container>
  <div class="relative text-white flex flex-col items-center md:flex-row">
    <Topic
      title="Process"
      description="Step-by-Step Guide to Achieving Your Business Goals"
    />
  </div>

  <div class="my-6">
    <div class="space-y-10">
      {
        teamData.process.map((process, key) => (
          <Collapse label={process.label} index={key + 1}>
            {process.content}
          </Collapse>
        ))
      }
    </div>
  </div>
</Container>
