---
const { title, description } = Astro.props;
---

<div class="gap-5 mb-10 mx-auto">
  <span class="text-4xl sm:text-6xl px-1.5 font-medium text-[#013186] underline underline-offset-8 rounded-md p-2">
    {title}
  </span>
</div>
 