---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Elevate Box</title>
    <meta
      name="description"
      content="A beautiful and functional landing page design created specifically for digital marketing agencies. With its clean and modern design, Elevate Box is the perfect template to showcase your agency's services and case studies to potential clients. Built with astro and tailwindcss"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-white relative h-screen font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer />

    <div class="fixed bottom-0 z-40  right-0 p-4 flex justify-end">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 30 30"
        fill="none"
        class="w-12 h-12 md:w-16 md:h-16 fill-[#25D366]"
        style="right: 0;"
        ><rect width="30" height="30" rx="15"></rect><path
          d="M9 21L9.8435 17.9185C9.323 17.0165 9.0495 15.994 9.05 14.9455C9.0515 11.6675 11.719 9 14.9965 9C16.587 9.0005 18.08 9.62 19.203 10.744C20.3255 11.868 20.9435 13.362 20.943 14.951C20.9415 18.2295 18.274 20.897 14.9965 20.897C14.0015 20.8965 13.021 20.647 12.1525 20.173L9 21ZM12.2985 19.0965C13.1365 19.594 13.9365 19.892 14.9945 19.8925C17.7185 19.8925 19.9375 17.6755 19.939 14.95C19.94 12.219 17.7315 10.005 14.9985 10.004C12.2725 10.004 10.055 12.221 10.054 14.946C10.0535 16.0585 10.3795 16.8915 10.927 17.763L10.4275 19.587L12.2985 19.0965ZM17.992 16.3645C17.955 16.3025 17.856 16.2655 17.707 16.191C17.5585 16.1165 16.828 15.757 16.6915 15.7075C16.5555 15.658 16.4565 15.633 16.357 15.782C16.258 15.9305 15.973 16.2655 15.8865 16.3645C15.8 16.4635 15.713 16.476 15.5645 16.4015C15.416 16.327 14.937 16.1705 14.3695 15.664C13.928 15.27 13.6295 14.7835 13.543 14.6345C13.4565 14.486 13.534 14.4055 13.608 14.3315C13.675 14.265 13.7565 14.158 13.831 14.071C13.9065 13.985 13.931 13.923 13.981 13.8235C14.0305 13.7245 14.006 13.6375 13.9685 13.563C13.931 13.489 13.634 12.7575 13.5105 12.46C13.3895 12.1705 13.267 12.2095 13.176 12.205L12.891 12.2C12.792 12.2 12.631 12.237 12.495 12.386C12.359 12.535 11.975 12.894 11.975 13.6255C11.975 14.357 12.5075 15.0635 12.5815 15.1625C12.656 15.2615 13.629 16.7625 15.1195 17.406C15.474 17.559 15.751 17.6505 15.9665 17.719C16.3225 17.832 16.6465 17.816 16.9025 17.778C17.188 17.7355 17.7815 17.4185 17.9055 17.0715C18.0295 16.724 18.0295 16.4265 17.992 16.3645Z"
          fill="white"></path></svg
      >
    </div>
  </body>
</html>
